*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: center;
}

.navBtn{
    background-color: yellow;
    padding: 0.4rem;
    font-weight: bold;
}

.linkContainer{
    border: 3px solid black;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.linkWrapper{
    display: flex;
    flex-wrap: wrap;
}

.newBtn{
    width: 100vw;
    background-color: green;
    padding: 0.4rem;
    font-weight: bold;
}

.deleteBtn{
    background-color: red;
    padding: 0.4rem;
    font-weight: bold;
}

.aForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50vw;
    margin: 1rem;
}