<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lägg till ny länk</title>
    <link rel="stylesheet" th:href="@{/link.css}">
</head>
<body>
<h1 class="title">Skapa ny länk</h1>
<div class="formContainer">
    <form class="aForm" method="post" th:action="@{/links/add}">
        <input type="text" name="name" placeholder="Skriv titel">
        <input type="text" name="url" placeholder="Länk...">
        <textarea name="description" placeholder="Skriv en beskrivning..."></textarea>
        <input type="text" name="category" placeholder="Välj kategori">
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>