<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Länklistan</title>
    <link rel="stylesheet" th:href="@{/link.css}">
</head>
<body>
    <div class="container">
        <h1>Links</h1>
        <nav>
            <button class="navBtn" onclick="handleCategoryClick()">Visa alla</button>
            <div class="btnContainer" th:each="category : ${categoryList}">
                <button class="navBtn" th:data-category="${category}" th:text="${category}" onclick="handleCategoryClick(this.getAttribute('data-category'))"></button>
            </div>
        </nav>
        <div class="linkWrapper">
        <div class="linkContainer" th:each="link : ${linkList}">
            <a target="_blank" th:href="${link.getUrl()}"><h3 th:text="${link.getName()}"></h3></a>
            <p th:text="${link.getDescription()}"></p>
            <p th:text="${link.getCategory()}"></p>
            <button class="deleteBtn" th:data-id="${link.getId()}" onclick="handleDelete(this.getAttribute('data-id'))">Delete</button>
        </div>
        </div>
    </div>
    <a th:href="@{/links/add}"><button class="newBtn">Add new link</button></a>
<script type="text/javascript" th:src="@{/script.js}"></script>
</body>
</html>